%form.form-signin{:style => 'max-width:250px'}
  %h2.form-signin-heading
    Please sign in
  %input.input-block-level{:type => 'text', :name => :email, :placeholder => 'Email address'}
  %input.input-block-level{:type => 'password', :name => :password, :placeholder => 'Password'}

  %input.btn-primary{:type => 'submit', :value => 'Log in'}

