%h1 WebCrib Status

%h4
  = 'Number of Registered Players: ' + number_of_players

%h4
  = 'Number of Players Signed in (Mock): ' + number_of_sessions

%h4
  = 'Number of Games Played (Mock): ' + number_of_games

- if current_player
  %h4
    = 'Number of Games Won by' + current_player.username +  ' (Mock): ' + number_of_wins






